/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.user-icon{
    margin-right: 0px;
    margin-left: auto;
}

/* Style the container */
.header-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5px auto;
    width: 80%; 
    padding: 10px;
}

/* Style the header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #0b0a0a;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0056b3;
}

.menu-open .nav-features-container {
    display: flex;
    flex-direction: column;
}

.menu-open .menu-icon {
    display: none;
}
/* Responsive styles */
@media (max-width: 768px) {
    .header-container {
        max-width: 100%;
    }

    .nav-features-container {
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease;
    }
    
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }

    .nav-features{
        display: block;
        margin: 10px 0;
    }

    .menu-icon {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .nav-features {
        display: block; 
        margin: 10px 0;
    }
}
