/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.user-icon{
    margin-right: 0px;
    margin-left: auto;
}

/* Style the container */
.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5px auto;
    width: 80%; 
    padding: 10px;
}

/* Style the header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #0b0a0a;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }

    .nav-features{
        display: none;
    }
}
