

body{
    margin: 0 auto;
    padding: 0;
    align-items: center;
}

/* Style the wallet section to be a larger div */
#wallet {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    width: 20%;
}

.money{
    background-color: #fff;
    border: solid 1px #2196F3;
    color: #2196F3;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    width: 100px;  
    align-items: center;
    text-align: center;
    position: auto;
    cursor: pointer;
}

.money:hover{
    background-color: #2196F3;
    color: #fff;
}

.exchange{
    align-items: center;
    margin: 0 auto;
}
/* Additional styles for headings and paragraph */
h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.info{
    display: flex;
    flex-wrap: wrap;  
    margin: 0 auto;
    align-items: center;
    max-width: 70%;
    
}

/* table design */
.transaction-history{
   max-width: 70%;
   align-items: center;
   margin: 0 auto;
}

.transaction-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: #f5f5f5;
}

th, td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover{
    background-color: #c6c2c2;
    
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.prev-btn, .next-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.prev-btn:hover, .next-btn:hover {
    background-color: #0056b3;
}

.user-desc{
    display: block;
}

/* Make the sections responsive */
@media (max-width: 768px) {
    section {
        margin: 10px;
        padding: 10px;
        margin: 15px;
        padding: 15px;
        width: 25%;

    }

    #wallet {
        padding: 20px;
        margin: 10px;
        width: 95%;
    }

    .features{
        width: 95%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    #heck-mobile-img{
        display: none;
    }

    table {
        font-size: 14px;
        max-width: 100%;
    }

    th, td {
        padding: 8px 10px;
    }

    .pagination {
        margin-top: 10px;
    }

    .user-desc{
        width: 100%;
    }
}