
<header>
    <nav>
        <div class="container">
            <a href="/">Sowers MCS</a>
            <a href="#wallet" class="nav-features">Wallet</a>
            <a href="#dues-fines" class="nav-features">Dues/Fines</a>
            <a href="#donations" class="nav-features">Donations</a>
            <a href="#savings" class="nav-features">Savings</a>
            <a href="#shares" class="nav-features">Shares</a>
            <a href="#loans" class="nav-features">Loans</a>
            
            <span class="user-icon">
                <a href="/signup/">        
                    <i class="ri-user-fill"></i>
                </a>
                <a href="/login/">Logout</a>
            </span>
        </div>
    </nav>
</header>
