
<header>
    <nav>
        <div class="container">
            <a href="/">Sowers MCS</a>
            <a href="#wallet">Wallet</a>
            <a href="#dues-fines">Dues/Fines</a>
            <a href="#donations">Donations</a>
            <a href="#savings">Savings</a>
            <a href="#loans">Loans</a>
            <span class="user-icon">
            <a href="/signup/">        
                <i class="ri-user-fill"></i>
            </a>
            </span>
        </div>
    </nav>
</header>
