{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">


        <title>Create Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">

    </head>
    <body>
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="h3 mb-4 page-title">Create Account</h2>
        <div class="my-4">
        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Profile</a>
        </li>
        </ul>
            <form action="" method="POST">
                {%csrf_token%}
                <div class="row mt-5 align-items-center">
                    <div class="col-md-3 text-center mb-5">
                        <div class="avatar avatar-xl">
                            <img src="https://www.bootdey.com/img/default-avatar.png" alt="..." class="avatar-img rounded-circle" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <h4 class="mb-1">{{user.username}}</h4>
                                <p class="small mb-3"><span class="badge badge-dark">Nigeria</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="firstname">Firstname</label>
                        <input type="text" id="firstname" class="form-control" placeholder="First Name" name="firstName" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="lastname">Lastname</label>
                        <input type="text" id="lastname" class="form-control" placeholder="Last Name" name="lastName" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="midllename">Middlename</label>
                        <input type="text" id="middlename" class="form-control" placeholder="Last Name" name="middleName" />
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="BVN">BVN</label>
                        <input type="text" id="BVN" class="form-control" placeholder="1234567890" name="BVN" />
                    </div>

                </div>

                    <div class="form-group">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="name@mail.com" name="email" />
                    </div>

                    <div class="form-group">
                        <label for="inputAddress5">Address</label>
                        <input type="text" class="form-control" id="inputAddress5" placeholder="P.O. Box 464, 5975 Eget Avenue" name="address" />
                    </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="inputCompany5">Company</label>
                        <input type="text" class="form-control" id="inputCompany5" placeholder="Nec Urna Suscipit Ltd" name="company" />
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputState5">State</label>
                        <input type="text" class="form-control" id="inputState5" placeholder="Enugu State" name="state" />
                    </div>

                    <div class="form-group col-md-2">
                        <label for="LGA">LGA</label>
                        <input type="text" class="form-control" id="LGA" placeholder="Local goverment" name="LGA" />
                    </div>

                </div>
                    <hr class="my-4" />
                <div class="row mb-4">

                    <div class="col-md-6">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
        </div>
        </div>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
            
        </script>
    </body>
</html>